POSTGRES_PORT=5432 # Port that the postgres instance exposes (in development, port of the local postgres database)
POSTGRES_USER=postgres # Postgres superuser name (& database)
POSTGRES_PASSWORD=postgres # Postgres superuser password

BACKEND_PORT=3000 # Port which the backend listens on and exposes in docker
BACKEND_DATABASE_NAME=scola # Name of the database in postgres (will be created if running with docker compose)
BACKEND_DATABASE_USER=scola # Name of the user in postgres (needs login privileges and optionally create database privileges) (will be created if running with docker compose)
BACKEND_DATABASE_PASSWORD=scola # Password for the BACKEND_DATABASE_USER user (will be set if running with docker compose)
BACKEND_DATABASE_HOST=localhost # Database host (only needed in development, overwriten in docker compose)

DATABASE_URL=postgres://${BACKEND_DATABASE_USER}:${BACKEND_DATABASE_PASSWORD}@${BACKEND_DATABASE_HOST}:${POSTGRES_PORT}/${BACKEND_DATABASE_NAME} # Connection URL (only needed in development, overwriten in docker compose)

COOKIE_SECRET=very-secret-cookie-secret-that-is-deffinately-longer-that-64-characters # Secret used to sign the backend cookies (min. 64 bytes)